<style>
    .id {
        text-align: left;
        font-size: 30px;
        display: inline;
    }

    .id1 {
        font-weight: 600;
        display: inline;
        line-height: 85%;
    }

    .id2 {
        line-height: 85%;
    }

    th {
        font-weight: 800;
        font-size: 20px;
        text-align: center;
    }

    td {
        vertical-align: middle;
    }

    .container {
        margin-left: 50px auto;
        margin-right: 50px auto;
        align-content: center;
        align-items: center;
    }

    .paging-align {
        text-align: center;
    }

    .noResult {
        font-weight: 600;
        font-size: 25px;
        color: red;
    }
</style>

<div class="container">
    <br /><br />
    <div class="id">
        <div class="id1">Repo Name:  </div><br />
        <div class="id2">
            {{ login.name }}
        </div>
        <div class="id1">
            Repo Link:
        </div><br />
        <div class="id2">
            <a href="{{ login.html_url }}">{{ login.html_url }}</a>
        </div> <div class="id1">
            Description:
        </div>
        <div class="id2">
            {{ login.description }}
        </div>
        <div class="id1">
            Stars:
        </div>
        <div class="id2">
            {{ login.stargazers_count }}
        </div>
        <div class="id1">
            Watchers:
        </div>
        <div class="id2">
            {{ login.watchers_count }}
        </div>
        <div class="id1">
            Forks:
        </div>
        <div class="id2">
            {{ login.forks }}
        </div>
        <div class="id1">
            Open Issues:
        </div><br />
        <div class="id2">
            {{ login.open_issues }}
        </div>
        <div class="id1">
            Language:
        </div><br />
        <div class="id2">
            {{ login.language }}
        </div>
        <div class="id1">
            Clone URL:
        </div>
        <div class="id2">
            {{ login.clone_url}}
        </div>


    </div>
    <br />
    <br />
    <br />
    <div class="id">

        <div class="id1">
            Commits:
        </div>
    </div>
    <table class="table table-striped" ng-repeat="data in data.saveData | limitTo:5">
        <tr>
            <td>
                <strong>Commit Author:</strong>
                {{ data.commit.author.name }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Commit URL:</strong>
                {{ data.url }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Message: </strong>
                {{ data.commit.message }}
            </td>
        </tr>
        <tr>
            <td>
                <strong>Comment Count: </strong>
                {{ data.commit.comment_count }}
            </td>
        </tr>
    </table>
    <br /><br /><div class="id">
        <div class="id1">
            Issues:
        </div>
        <div class="noResult"  ng-hide="showTable == 1">
            Found No Issue.
        </div>
    </div>
    <table class="table table-striped" ng-repeat="i in data.saveIssues" ng-click="updateIssue()" ng-show="showTable == 1">
        <tr>
            <td> <b>Title: </b>{{ i.title }} </td>
        </tr>
        <tr>
            <td> <b>Created: </b>{{ i.created_at }}</td>
        </tr>
        <tr>
            <td> <b>Link to issue: </b>{{ i.url }}</td>
        </tr>

    </table>

    <div class="paging-align" ng-show="showTable == 1">
        <uib-pagination total-items="bigTotalItems" ng-click="updateIssue()" ng-model="bigCurrentPage" max-size="maxSize" class="pagination" boundary-link-numbers="true" rotate="false"></uib-pagination>
    </div>

</div>
