<div class="conatiner">
    <form ng-submit="tryLogin()">
        <div class="form-group col-xs-offset-4 col-sm-offset-4 col-xs-4 col-sm-4" ng-required="true" ng-model="myctrl">
            <h4>Usename:</h4>
            <input class="col-xs-12 col-sm-12" name="username" ng-model="username" type="text" ng-required="true" /> <br />
            <h4>Passwrod:</h4>
            <input class="col-xs-12 col-sm-12" name="password" ng-model="password" type="password" ng-required="true" /> <br /> <br />
            <button class="btn btn-info" style="float:right" ng-click="register()">Register</button>
        </div>
    </form>
</div>